

.mainsection {
    background-color: white;
}

img {
    width: 280px;
    margin: 0 20px 20px 0;
} 

.nav-link{
    color: #4aaaa5;
}
.nav-link:hover{
    background-color: rgb(204, 204, 204);
}

h1 {
    padding: 15px;
    color: #4aaaa5;
}


.project {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 30px 0 30px 0;
}

.projectpix {
    height: 240px;
}
.project span {
    width: 93.4%;
    background-color: #4aaaa5;
    padding: 20px;
    font-size: 18px;
    color: #ffffff;
    position: absolute;
    left: 0px;
    bottom: 45px;
    margin-bottom: 0;
    text-align: center;
}



@media screen and (max-width: 992px) {
    .container {
       max-width: 960px;
    }
 }
 
 @media screen and (max-width: 768px) {
    .container {
       max-width: 720px;
    }
 }
 
 @media screen and (max-width: 576px) {
 
    .container {
       max-width: 540px;
    }
 
    .navbar-brand {
       background: #a9c9c7;
       width: 100%;
       text-align: center;
    }
    .col-sm-6 {
       padding: 0;
    }
 
    .container-margin-bottom {
       margin-bottom: 50px;
    }
 
    .nav {
       margin: 10px auto;
    }
 
    .headshot {
       width: 100%;
    }
 }

 .footer {
   padding: 30px;
   clear: both;
   font-size: 14px;
   color: #ffffff;
   color: #cccccc;
   text-align: center;
   background: #666666;
   border-top-width: 10px;
   border-top-color: #4aaaa5;
   border-top-style: solid;
   height: 50px;
 }